<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head')%>
  <title>Bon Habite</title>
</head>

<%- include('../partials/header')%>

<body>


  <div class="contenedor_contacto">


    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-12 ">

        <div class="contenedor_reciclados">

          <div>
            <h2 class="titlereciclado">Como funciona</h2>
            <p class="parraforeciclado" style="width: 90%;">Si queres vender un mueble y comprar otro que se ajusta más a lo quue necesitas, te compramos el tuyo
              usándolo como parte del pago para tu nuevo mueble Bon Habite!</p>
          </div>

          <div class="contenedor_pasos">

            <article class="pasosfondo">
              <h4 class="paso"> PASO UNO </h4>
              <h3 class="title_paso">Mandanos foto y descripción de tu mueble!</h3>
              <p class="parrafopasos">Dentro de las próximas 12 horas aproximadamente vas a estar recibiendo una respuesta sobre el valor de
                tu
                mueble. </p>
            </article>

            <article class="pasosfondo">
              <h4 class="paso"> PASO DOS </h4>
              <h3 class="title_paso">Mueble aprobado: te contactamos!</h3>
              <p class="parrafopasos">Si aceptas la compra del mueble coordinamos la entrega.
                Lo podes traer, o te ocupas del envío, ya que cuando te mandemos el Bon Habite, el envío es GRATIS! </p>
            </article>

            <article class="pasosfondo">
              <h4 class="paso"> PASO TRES </h4>
              <h3 class="title_paso">Mueble recibido: tenés tu descuento!</h3>
              <p class="parrafopasos">Si está en las condiciones especificadas en las fotos y el formulario, se te otorgara un código
                promocional que utilizarás en el Check Out. </p>
            </article>

            <article class="pasosfondo">
              <h4 class="paso"> PASO CUARTO </h4>
              <h3 class="title_paso">Listo!</h3>
              <p class="parrafopasos">Consiguiste tu Bon Habite a un mejor precio, sabiendo que el mueble del que te desprendes le va a
                servir
                a alguien más. </p>
            </article>

          </div>
        </div>

      </div>
        <div class="col-lg-5 col-md-5 col-xs-12 pl-0">

          <h3 class="text_reciclado">Qué pasa con tu mueble?</h3>

          <figure class="figure_reciclados"><img style="width: 100%; height: auto;" src="/img/nosotros/reciclados.jpeg"
              alt="Mueble reciclado"></figure>

          <p class="parraforeciclado">Nos gusta tanto lo que hacemos, que empezamos el proyecto de recuperar muebles
            usados, restaurarlos y rediseñarlos al estilo Bon Habite. De esta manera contribuimos a la disminución de
            desechos en el planeta, generando piezas con historia. </p>
          <a href="/colecciones/reciclados"> <button class="btn__reciclados"> COMPRA RECICLADOS</button></a>

        </div>

      
    </div>



    <%- include('../partials/scripts')%>

</body>
<!-- Footer -->

<%- include('../partials/footer')%>

</html>