<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
    <title>Bon Habite</title>
</head>



<body>

    <%- include('../partials/header')%>

    <div class="row mt-3">
        <div class="nos1 col-lg-6 col-md-6 col-sm-12">
            <div class="nostext">
                <h1 class="title_general" style="color: #87998B ; font-weight: 500; padding: 0;">
                    Quienes Somos
                </h1>
                <h2 class="subnosotros">nuestra historia</h2>
                <p class="textnos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>


            <div class="contenedorfotosnos">
                <figure class=" fototriplenos"> <img class="card-img-top nos" src="/img/nosotros/nosotros1.jpeg"
                        alt="producto"></figure>
                <figure class=" fototriplenos"> <img class="card-img-top nos" src="/img/nosotros/nosotros2.jpeg"
                        alt="producto"></figure>
                <figure class=" fototriplenos"> <img class="card-img-top nos" src="/img/nosotros/nosotros3.jpeg"
                        alt="producto"></figure>

            </div>


        </div>

        <div class="nos2 col-lg-6 col-md-6 col-sm-12">

            <div>
                <figure class="nosbyn"> <img style="max-height: 100%; width: auto;" src="/img/nosotros/nosotrosbyn.jpeg"
                        alt="nosotros"></figure>
            </div>

            <div class="nostext">
                <h2 class="subnosotros"> nuestra visión </h2>
                <p class="textnos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>

            </div>
        </div>
    </div>

    </div>

    <%- include('../partials/footer')%>
    <%- include('../partials/scripts')%>

</body>

</html>