<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head')%>
  <title>Bon Habite</title>
</head>

<body>
  <%- include('../partials/header')%>
  <div class="contenedortyc" style="height: 66vh;">
    <h1 class="title_general">
     Nuestras APIS
    </h1>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #D7613C">
              1 - Productos
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body ml-5 textotyc">
           <a href="/api/productos" style="color:#454743"> Nuestros productos </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #D7613C">
              2 - Categorías
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body ml-5">
            <a href="/api/categorias" style="color:#454743"> Nuestras categorías </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #D7613C">
              3 -Colecciones
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body ml-5">
            <a href="/api/colecciones" style="color:#454743"> Nuestras colecciones </a>
          </div>
        </div>
      </div>

</div>

</div>

  <%- include('../partials/footer')%>
  <%- include('../partials/scripts')%>

</body>



</html>