<footer class="page-footer pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3">

                <!-- Content -->
                <p>© Bon Habite 2020 SA.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <a href="/productos/ofertas">
                    <h5 class="text-uppercase">Sale</h5>
                </a>
            </div>

            <div class="col-md-2 mb-md-0 mb-3">
                <a href="https://www.instagram.com/">
                    <h5 class="text-uppercase">Instagram</h5>
                </a>
            </div>
            <!-- Grid row -->
            <div class="col-md-2 mb-md-0 mb-3">
                <a href="/nosotros/contacto">
                    <h5 class="text-uppercase">Contacto</h5>
                </a>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <a href="/preguntasfrecuentes">
                    <h5 class="text-uppercase">Preguntas frecuentes</h5>
                </a>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <a href="/tyc">
                    <h5 class="text-uppercase">Términos y condiciones</h5>
                </a>
            </div>
        </div>
        <!-- Footer Links -->

</footer>