<header class="sticky-top">


    <a class="subscribe text center" style="width: 100%; text-decoration: none; display: block; border:none;"
        data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        conocé nuestros descuentos!
    </a>


    <div class="collapse " id="collapseExample">
        <div class="row card card-body subscribecollapse"
            style="background-color: #87998B; border:#87998B; border-radius:0%">
            <h3 class="col-lg-6 col-md-6 d-sm-none d-md-block d-none d-sm-block titulosubscribe pr-5">ESTA SEMANA <br>
                15% OFF</h3>
            <div class=" col-lg-3  d-none d-lg-block d-xl-block">
                <h3 class="subtitulosubscribe ">querés saber más?</h3>
                <p class="psubscribe d-none d-xl-block"> Descuentos, ofertas, inspiración, tips de decoración y mucho
                    más.</p>
            </div>

            <div class=" col-xl- 3 col-lg-3 col-md-6 col-sm-12 input-group formsubscribe "
                style="background-color: none;">
                <div><input type="email" class="form-control emailsubscribe  mb-2" placeholder="DEJANOS TU MAIL"> </div>
                <div> <button class="btn_subscribe" type="submit"> ENTERATE DE TODO</button></div>

            </div>
        </div>
    </div>








    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
        <a class="navbar-brand" href="/"> <img class="logo-nav" src="/img/Logo-BonHabite.png" alt="Logo-BonHabite"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-n3 px-4 pb-2" id="navbarTogglerDemo02"
            style="background-color: #FFFFFF;">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORÍAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/todas">TODAS</a>
                        <a class="dropdown-item" href="/categoria/Mesas">MESAS</a>
                        <a class="dropdown-item" href="/categoria/Iluminacion">ILUMINACIÓN</a>
                        <a class="dropdown-item" href="/categoria/Camas">CAMAS</a>
                        <a class="dropdown-item" href="/categoria/Sillones">SILLONES</a>
                        <a class="dropdown-item" href="/categoria/Escritorios">ESCRITORIOS</a>
                        <a class="dropdown-item" href="/categoria/Bibliotecas">BIBLIOTECAS</a>
                        <a class="dropdown-item" href="/categoria/Comodas">CÓMODAS</a>
                        <a class="dropdown-item" href="/categoria/Sillas">SILLAS</a>
                        <a class="dropdown-item" href="/categoria/Otras">OTRAS</a>
                        <a class="dropdown-item" href="/colecciones/Ofertas">Ofertas</a>
                        <a class="dropdown-item" href="/colecciones/Reciclados">Comprá reciclado</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COLECCIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/colecciones/a">COLECCIÓN A</a>
                        <a class="dropdown-item" href="/colecciones/b">COLECCIÓN B</a>
                        <a class="dropdown-item" href="/colecciones/c">COLECCIÓN C</a>
                        <a class="dropdown-item" href="/colecciones/Reciclados">Reciclados</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RECICLADOS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/reciclados/comofunciona">COMO FUNCIONA?</a>
                        <a class="dropdown-item" href="/reciclados/cotiza">COTIZÁ TU MUEBLE!</a>
                        <a class="dropdown-item" href="/colecciones/reciclados">COMPRÁ RECICLADOS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NOSOTROS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/nosotros/quienessomos">QUIENES SOMOS?</a>
                        <a class="dropdown-item" href="/nosotros/contacto">CONTACTO</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/administrar">Productos</a>
                        <a class="dropdown-item" href="/userAdmin">Usuarios</a>
                    </div>
                </li>
                <li> <a class="navbar-text d-lg-none d-xl-none" href="/carrito"> MI CARRITO </a></li>

            </ul>

            <!-- Estoy logueado veo esto -->

            <% if(locals.usuario) { %>
            <img src="/img/usuarios/<%=locals.usuario.image%>" width="30" height="30px" alt="imagen">
            <li class="nav-item dropdown">
                <!--   <img src="/img/usuarios/<%=locals.usuario.image%>" width="30" style="border-radius: 50%;" alt="imagen"> -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MI PERFIL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/perfil/miscompras"> Mis compras</a>
                    <a class="dropdown-item" href="/perfil/misdatos"> Mis datos</a>
                    <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                </div>
            </li>

            <%    } else { %>

            <!-- No estoy logueado veo esto -->
            <a class="navbar-text" href="/login"> INGRESAR </a>

            <%    }  %>

            <form class="form-inline my-2 my-lg-0 search_navbar">
                <input class="form-control search mr-sm-2 search-responsive" type="search" placeholder="Buscar"
                    style="margin-top:0;">
                <button class="btn btn-btn-light my-2 my-sm-0 d-none d-lg-block d-xl-block" type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
            <div class="icons_navbar">
                <button class="btn btn-btn-light my-2 my-sm-0 icon_navbar d-none d-lg-block d-xl-block" type="submit">
                    <a href="/carrito">
                        <ion-icon name="cart-outline"></ion-icon></button></a>
            </div>
        </div>
    </nav>
</header>